.logoImage {
    width: 70%;
    //  height:30%;
    //  padding: 20px;
    margin: 0 20px 0 -40px;
    justify-content: center;
    //  margin-left: -131px;

}

.custom_nav-container {
    z-index: 99999;
    padding: 0px 0;
}

.fa-user-tie:before {
    content: "\f508";
    padding: 29px;
}

.active {
    background-color: red;
    color: white;
    border-radius: 25px;
}