<br>
<br>
<br>
<br>

<!-- end  subscribe-section -->

<!-- start footer-section -->
<!-- <app-client-section></app-client-section> -->

<!-- <app-info-section></app-info-section> -->
<section class="info_section layout_padding2" style="background-color: #111010">
  <div class="container">
    <div class="row">
      <div class="col-lg-9 mx-auto">
        <h4 class="contact-font-size">
          Contact Us
        </h4>
        <div class="contact_items">

          <a class="disablePointer">
            <div class="img-box">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
            <h6 class="font-size">
              support@healthmaddy.com
            </h6>
          </a>
          <a class="disablePointer">
            <div class="img-box">
              <i class="fab fa-whatsapp fa-lg" aria-hidden="true"></i>
            </div>
            <h6 class="font-size">
              (+91 8660690712)
            </h6>
          </a>
          <a class="disablePointer">
            <div class="img-box">
              <i class="fa fa-phone" aria-hidden="true"></i>
            </div>
            <h6 class="font-size">
              (+91 8660690712)
            </h6>
          </a>
        </div>
      </div>
    </div>

    <div class="box">
      <div class="info_social ">
        <div>
          <a [href]="socialMediaHandles.facebook" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
        <div>
          <a [href]="socialMediaHandles.instagram" target="_blank">
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>
        </div>
        <div>
          <a [href]="socialMediaHandles.twitter" target="_blank">
            <i class="fab fa-twitter" aria-hidden="true" aria-label="twitter"></i>
          </a>
        </div>

      </div>
    </div>
  </div>
</section>

<section style="background-color: black" class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-9 mx-auto">
        <p id="footerText">
          &copy; <span id="displayYear"></span> All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</section>

<!--  endfooter-section -->