<!-- <app-info-section></app-info-section> -->
<section  style="background-color: #111010"class="client_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          What is says our clients
        </h2>
      </div>
      <div id="carouselExample2Indicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-7 mx-auto">
                <div class="client_container">
                  <div class="client_detail">
                    <p>
                      <i class="fa fa-quote-left" aria-hidden="true"></i> &nbsp;
                      There are many variations of passages of Lorem Ipsum available, but the majority
                      have suffered
                      alteration in The point of using Lorem Ipsum is that it has a more-or-less
                      normal distribution of
                      letters, generators on the Internet tend to repeat predefined chunks as
                      necessary &nbsp;
                      <i class="fa fa-quote-right" aria-hidden="true"></i>
                    </p>
                  </div>
                  <div class="client_box ">
                    <div class="img-box">
                      <img src="./assets/images/client.png " alt="">
                    </div>
                    <div class="name">
                      <h5>
                        Clara Johnson
                      </h5>
                      <h6>
                        <span>
                          Client
                        </span>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-7 mx-auto">
                <div class="client_container">
                  <div class="client_detail">
                    <p>
                      <i class="fa fa-quote-left" aria-hidden="true"></i> &nbsp;
                      There are many variations of passages of Lorem Ipsum available, but the majority
                      have suffered
                      alteration in The point of using Lorem Ipsum is that it has a more-or-less
                      normal distribution of
                      letters, generators on the Internet tend to repeat predefined chunks as
                      necessary &nbsp;
                      <i class="fa fa-quote-right" aria-hidden="true"></i>
                    </p>
                  </div>
                  <div class="client_box ">
                    <div class="img-box">
                      <img src="./assets/images/client.png " alt="">
                    </div>
                    <div class="name">
                      <h5>
                        Clara Johnson
                      </h5>
                      <h6>
                        <span>
                          Client
                        </span>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-7 mx-auto">
                <div class="client_container">
                  <div class="client_detail">
                    <p>
                      <i class="fa fa-quote-left" aria-hidden="true"></i> &nbsp;
                      There are many variations of passages of Lorem Ipsum available, but the majority
                      have suffered
                      alteration in The point of using Lorem Ipsum is that it has a more-or-less
                      normal distribution of
                      letters, generators on the Internet tend to repeat predefined chunks as
                      necessary &nbsp;
                      <i class="fa fa-quote-right" aria-hidden="true"></i>
                    </p>
                  </div>
                  <div class="client_box ">
                    <div class="img-box">
                      <img src="./assets/images/client.png " alt="">
                    </div>
                    <div class="name">
                      <h5>
                        Clara Johnson
                      </h5>
                      <h6>
                        <span>
                          Client
                        </span>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <ol class="carousel-indicators">
          <li data-target="#carouselExample2Indicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExample2Indicators" data-slide-to="1"></li>
          <li data-target="#carouselExample2Indicators" data-slide-to="2"></li>
        </ol>
      </div>
    </div>
  </section>
<section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 mx-auto">
          <h4>
            Contact Us
          </h4>
          <div class="contact_items">
            <!-- <a href="">
              <div class="img-box">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
              </div>
              <h6>
                Location
              </h6>
            </a> -->
            <a href="">
              <div class="img-box">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </div>
              <h6>
                support@healthmaddy.com
              </h6>
            </a>
            <a href="">
              <div class="img-box">
                <i class="fa fa-phone" aria-hidden="true"></i>
              </div>
              <h6>
                (+12 1234456789)
              </h6>
            </a>
          </div>
        </div>
      </div>
  
      <div class="box">
        <div class="info_social">
          <div>
            <a href="">
              <i class="fab fa-facebook-f"></i>
            </a>
          </div>
          <div>
            <a href="">
              <i class="fab fa-twitter" aria-hidden="true"></i>
            </a>
          </div>
          <div>
            <a href="">
              <i class="fab fa-linkedin" aria-hidden="true"></i>
            </a>
          </div>
          <div>
            <a href="">
              <i class="fab fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section  style="background-color: #111010" class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7 col-md-9 mx-auto">
          <p id="footerText">
            &copy; <span id="displayYear"></span> All Rights Reserved
          </p>
        </div>
      </div>
    </div>
  </section>
  
  <!--  endfooter-section -->