.coming-soon-box {
    border: 4px solid white;
    height: 95%;

    .coming-soon-detail-box {
        background-color: #101010;
        background-color: #101010;
        height: 100%;
        align-items: center;
        text-align: center;
        align-content: center;
        text-align: center;
        font-size: xx-large;
        line-height: normal;
        padding: 46% 10%;
    }
}