<section style="padding: 59px;" id="services" class="services section-bg">
   <ng-container *ngIf="!isLoading">
      <div class="container-fluid">
         <div class="col-sm-12 text-center mb-4">
         </div>
         <div class="row row-sm " style="justify-content: space-between;">
            <!-- <div class="col-md-6 _boxzoom col-sm-12">
           <div class="zoom-thumb">
              <ul class="piclist">
                 <li><img src="assets/images/p1.png" alt=""></li>
                 <li><img src="assets/images/p1.png" alt=""></li>
                 <li><img src="assets/images/p1.png" alt=""></li>
                 <li><img src="assets/images/p1.png" alt=""></li>
              </ul>
           </div>
           <div class="_product-images">
              <div class="picZoomer">
                 <img class="my_img" src="assets/images/p1.png" alt="">
              </div>
           </div>
        </div> -->

            <!-- <div class="container"> -->
            <div class="row col-md-6 col-sm-12 col-lg-4 ">
               <div class="col-1">

                  <ul class="piclist col-md-6 col-sm-12 col-lg-4">
                     <li *ngFor='let media of productService.getSecondaryImageList(product?.media)'
                        (click)="setPrimaryMedia(media.url)"><img [src]="media.url" alt=""></li>

                  </ul>
               </div>
               <div class="col-4" style="margin-left: 15%; ">
                  <!-- <lib-ngx-image-zoom class="my_img" style="width: 400%;
               height: 78vh;" [thumbImage]="productPrimaryMedia"  zoomMode='hover'
                  [enableLens] ="true" [maxZoomRatio]="2"></lib-ngx-image-zoom> -->
                  <img class="my_img" src="{{productPrimaryMedia}}" alt="" style="width: 400%;
             height: 78vh;">
               </div>

            </div>

            <!-- </div> -->
            <div class="col-md-6 col-sm-12 col-lg-5" style="float: right;">
               <div class="_product-detail-content">
                  <p class="_p-name" style="color: white;">{{product?.name}} </p>
                  <div class="_p-price-box">
                     <div class="p-list">
                        <!-- <div  id="full-stars-example-two">
                    <div class="rating-group">
                        <input disabled checked class="rating__input rating__input--none" name="rating3" id="rating3-none" value="0" type="radio">
                        <label aria-label="1 star" class="rating__label" for="rating3-1"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                        <input class="rating__input" name="rating3" id="rating3-1" value="1" type="radio">
                        <label aria-label="2 stars" class="rating__label" for="rating3-2"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                        <input class="rating__input" name="rating3" id="rating3-2" value="2" type="radio">
                        <label aria-label="3 stars" class="rating__label" for="rating3-3"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                        <input class="rating__input" name="rating3" id="rating3-3" value="3" type="radio">
                        <label aria-label="4 stars" class="rating__label" for="rating3-4"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                        <input class="rating__input" name="rating3" id="rating3-4" value="4" type="radio">
                        <label aria-label="5 stars" class="rating__label" for="rating3-5"><i class="rating__icon rating__icon--star fa fa-star"></i></label>
                        <input class="rating__input" name="rating3" id="rating3-5" value="5" type="radio">
                    </div>
                  <p class="desc" style="font-family: sans-serif; font-size:0.9rem"><br/>
                   41 Reviews</p>
                </div> -->
                        <span style="color: white;"> <del style="color:red"> {{ product?.originalPrice | currency:
                              product?.currency}} </del> </span>

                        <span class="price">{{ product?.discountPrice| currency: product?.currency }} </span><br>
                        <span>Discount: {{product?.discountAmount}}{{product?.discountUnit}}</span>
                     </div>

                     <div class="">
                        <!-- unit realted information -->

                        weight: {{product?.weight}}{{product?.unit}}

                        , {{product?.perContainerServing}} Servings

                     </div>
                     <select class="form-select w-50 marginTB2" aria-label="Default select example">
                        <option selected>Flavours </option>

                        <option *ngFor="let flavour of product?.stock" value="flavour">{{flavour?.flavourName}}</option>

                     </select>

                     <!-- <div class="_p-add-cart">
                    <div class="_p-qty">
                       <span style="color: white;">Add Quantity</span>
                       <div class="value-button decrease_" id="" value="Decrease Value">-</div>
                       <input type="number" name="qty" id="number" value="1" />
                       <div class="value-button increase_" id="" value="Increase Value">+</div>
                    </div>
                 </div> -->

                     <!-- flavours dropdown -->
                     <div class="_p-features" style="color: white;">
                        <span style="color: white;"> Description About this product:- </span>
                        {{product?.description }}
                     </div>
                     <form action="" method="post" accept-charset="utf-8">
                        <ul class="spe_ul"></ul>
                        <div class="_p-qty-and-cart">

                           <div class="_p-add-cart-2" style="display:flex" *ngIf="product?.isInAppPurchaseAvailable">
                              <button type="button" class="btn btn-success btn_default_styl  w-50 ">Buy On
                                 Amazon</button>
                              <button type="button" class="btn btn-success btn_default_styl  w-50">Buy On
                                 Amazon</button>
                           </div>

                           <div class="_p-add-cart" *ngIf="!product?.isInAppPurchaseAvailable">
                              <a target="_blank" [href]="product?.thirdPartyProductLink">
                                 <button type="button" class="btn btn-success btn_default_styl float-right w-100">Buy On
                                    Amazon</button>
                              </a>
                           </div>
                        </div>
                     </form>

                  </div>

               </div>

               <!-- <div>

               <button type="button" class="btn btn-primary " (click)="starRating()">Review</button>

            </div> -->
            </div>
         </div>
      </div>
    
   



      <div *ngIf="starsRating">
         <div class="row">
            <div class="col-md-6">
               <div class="_product-detail-content-2">
                  <p class="_p-name" style="color: white;">Over All Rating </p>
                  <div id="full-stars-example-two">
                     <div class="rating-group">
                        <input disabled checked class="rating__input rating__input--none" name="rating3"
                           id="rating3-none" value="0" type="radio">
                        <label aria-label="1 star" class="rating__label" for="rating3-1"><i
                              class="rating__icon rating__icon--star fa fa-star"></i></label>
                        <input class="rating__input" name="rating3" id="rating3-1" value="1" type="radio">
                        <label aria-label="2 stars" class="rating__label" for="rating3-2"><i
                              class="rating__icon rating__icon--star fa fa-star"></i></label>
                        <input class="rating__input" name="rating3" id="rating3-2" value="2" type="radio">
                        <label aria-label="3 stars" class="rating__label" for="rating3-3"><i
                              class="rating__icon rating__icon--star fa fa-star"></i></label>
                        <input class="rating__input" name="rating3" id="rating3-3" value="3" type="radio">
                        <label aria-label="4 stars" class="rating__label" for="rating3-4"><i
                              class="rating__icon rating__icon--star fa fa-star"></i></label>
                        <input class="rating__input" name="rating3" id="rating3-4" value="4" type="radio">
                        <label aria-label="5 stars" class="rating__label" for="rating3-5"><i
                              class="rating__icon rating__icon--star fa fa-star"></i></label>
                        <input class="rating__input" name="rating3" id="rating3-5" value="5" type="radio">
                     </div>
                     <p class="desc" style="font-family: sans-serif; font-size: 0.9rem;"><br />
                        Based on 41 Review</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </ng-container>
   <!-- skeleton loader code -->

   <app-skeleton *ngIf="isLoading" [isBigSkull]=true></app-skeleton>

   <!-- skeleton loader code ends here .. -->

</section>