<section style="background-color: black" class="client_section layout_padding">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        TESTIMONIALS
      </h2>

    </div>
    <div id="carouselExample2Indicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row">
            <div class="col-md-7 mx-auto">
              <div class="client_container">
                <div class="client_detail">
                  <p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i> &nbsp;
                    Health Maddy supplements are fantastic! Improved my stamina and mental clarity within weeks. A must-have for anyone's health regimen. &nbsp;
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                  </p>
                </div>
                <div class="client_box ">
                  <div class="img-box ">
                    <img class="modelImageStyle" src="./assets/images/fitnessModels/0.png" alt="">
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-7 mx-auto">
              <div class="client_container">
                <div class="client_detail">
                  <p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i> &nbsp;
                    Health Maddy supplements have significantly boosted my energy and overall well-being. Highly
                    recommend for daily vitality! &nbsp;
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                  </p>
                </div>
                <div class="client_box ">
                  <div class="img-box ">
                    <img class="modelImageStyle" src="./assets/images/fitnessModels/1.png" alt="">
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-7 mx-auto">
              <div class="client_container">
                <div class="client_detail">
                  <p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i> &nbsp;
                    Amazing results with Health Maddy! My immune system feels stronger and I have more energy throughout
                    the day. &nbsp;
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                  </p>
                </div>
                <div class="client_box ">
                  <div class="img-box ">
                    <img class="modelImageStyle" src="./assets/images/fitnessModels/2.png" alt="">
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-7 mx-auto">
              <div class="client_container">
                <div class="client_detail">
                  <p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i> &nbsp;
                    Health Maddy has transformed my health routine. Noticeable improvements in mood, energy, and overall
                    wellness. Excellent product! &nbsp;
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                  </p>
                </div>
                <div class="client_box ">
                  <div class="img-box">
                    <img class="modelImageStyle " src="./assets/images/fitnessModels/3.png" alt="">
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#carouselExample2Indicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExample2Indicators" data-slide-to="1"></li>
        <li data-target="#carouselExample2Indicators" data-slide-to="2"></li>
        <li data-target="#carouselExample2Indicators" data-slide-to="3"></li>
      </ol>
    </div>
  </div>
</section>