<div class="box" *ngIf="!isBigSkull">
    <div class="skullCard ">
        <div class="skullCard-image">
            <div id="image" class="skeleton-loader"></div>
        </div>
        <div class="skullCard-body-loading">
            <h3 class="skeleton-loader"></h3>
            <p class="skeleton-loader"></p>
            <p id="ether" class="skeleton-loader"></p>
            <div id="button" class="skeleton-loader"></div>
        </div>
    </div>
</div>

<div class="box" *ngIf="isBigSkull">
    <div class="bigSkullCard ">
        <div class="bigSkullCard-image">
            <div id="image" class="skeleton-loader"></div>
        </div>
        <div class="bigSkullCard-body-loading">
            <h3 class="skeleton-loader"></h3>
            <p class="skeleton-loader"></p>
            <p id="ether" class="skeleton-loader"></p>
            <div id="button" class="skeleton-loader"></div>
        </div>
        <div class="bigSkullCard-body-loading">
            <h3 class="skeleton-loader"></h3>
            <p class="skeleton-loader"></p>
            <p id="ether" class="skeleton-loader"></p>
            <div id="button" class="skeleton-loader"></div>
        </div>
        <div class="bigSkullCard-image">
            <div id="image" class="skeleton-loader"></div>
        </div>
        <div class="bigSkullCard-body-loading">
            <h3 class="skeleton-loader"></h3>
            <p class="skeleton-loader"></p>
            <p id="ether" class="skeleton-loader"></p>
            <div id="button" class="skeleton-loader"></div>
        </div>
    </div>
</div>