<div class="hero_area allBackground" >
   
    <app-header></app-header>
    <!-- <app-slider-section></app-slider-section>

    <app-product-section> </app-product-section>
    <app-about-section></app-about-section>
    <app-why-us-section></app-why-us-section>
    <app-subscribe-section></app-subscribe-section>

    <app-client-section></app-client-section>

    <app-info-section></app-info-section>


    <app-footer-section></app-footer-section> -->
    <router-outlet></router-outlet>
</div>