// .latest{
//     margin-top: 145px;
//     padding: 245px;
//     padding-bottom: 445px;
// }   

.w-100{
    width: 100%;
}
.slider_section .detail_box h1 {
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 154px;
    margin-top: 128px;
}

.content-center{
    justify-content: center;
}
#headings{
    font-size: 60px;
   margin: 32.5% 0;
 
}

.carousel-btn{
    border: 3px solid black ;
    color: black;
}
